.strengthMeter {
    height: 5px;
    width: 100%;
    background-color: #e9ecef;
    border-radius: 5px;
    margin-top: 5px;
}

.strengthMeterFill {
    height: 100%;
    border-radius: 5px;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
