.dashboardGrid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

.divProjectTasks{
    display: grid;
    justify-content: space-evenly;
}

.divUsers{

}

@media (min-width: 1025px) {
    .dashboardGrid.adminView {
      grid-template-columns: 2fr 1fr;
    }
}