.appHeader{
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #314a94;
    padding: 10px;
    z-index: 10;
}

.appTitle{
    color: white;
    font-size: 1.5rem;
}   

.logoutButton,
.loginButton{
    background: #6583c2;
    color: white;
}

.logoutButton:hover,
.loginButton:hover{
    border: solid 1px white;
    color: white;
}

